/* 总容器 */
.wrapper{
    width: 100%;
    height: 100%;
}

/* 头部header */
.wrapper header{
    width: 100%;
    height: 12vw;
    background-color: #0097ff;

    display: flex;
    align-items: center;
}

.wrapper header .icon-location-box{
    width: 3.5vw;
    height: 3.5vw;
    margin: 0 1vw 0 3vw;
}

.wrapper head.lo